<div class="flex flex-col p-2 lg:w-80 max-md:w-[280px]">
  <h1 class="font-bold text-3xl">Hello Again!</h1>
  <h1 class="text-md text-slate-600 font-semibold mt-2">Welcome Back</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="flex flex-col mb-2 mt-4">
      <label class="font-semibold text-sm mb-2">Email / Username</label>
      <input
        type="text"
        placeholder="Masukkan Email / Username"
        class="p-2 border rounded-lg focus:outline-purple-700 text-sm shadow-sm"
        autofocus
        autocomplete="off"
        formControlName="username"
      />
    </div>

    <div class="flex flex-col mb-4">
      <label class="font-semibold text-sm mb-2">Password</label>
      <input
        type="password"
        placeholder="* * * * * * * *"
        class="p-2 border rounded-lg focus:outline-purple-700 text-sm shadow-sm"
        autocomplete="off"
        formControlName="password"
      />
    </div>

    <app-button
      title="Login"
      [isDisabled]="!loginForm.valid"
      [isLoading]="isLoding"
      customClass="rounded-lg bg-purple-800 font-semibold text-white p-2 hover:bg-purple-900 w-full"
    ></app-button>
  </form>

  <h1 class="text-sm text-slate-500 mt-4">
    Don't Have An Account?
    <a
      [routerLink]="registerComponentPath"
      class="font-semibold text-purple-500 hover:cursor-pointer hover:text-purple-900"
    >
      Register
    </a>
  </h1>
</div>
