<section class="w-full min-h-screen bg-slate-50">
  <div class="container bg-white min-h-screen p-8 shadow-md">
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-col mb-4">
        <h1 class="font-bold text-[30px]">Expense Tracker</h1>
        <h1 class="text-slate-400 font-semibold text-sm">
          Saving your money by tracking your expense for good!
        </h1>
      </div>
    </div>

    <!-- Divider -->
    <hr class="bg-slate-100 h-1 mb-4" />

    <!-- Content Wrapper -->
    <div class="flex flex-row h-full w-full rounded-lg gap-4">
      <!-- Left Content -->
      <div class="w-2/5 h-56">
        <div class="flex flex-row justify-between items-center">
          <h1 class="text-[24px] font-bold">Hello, {{ userUsername }}</h1>
          <button
            class="p-2 w-[100px] text-sm rounded-lg font-semibold shadow-md hover:scale-105 duration-300 transition hover:bg-purple-700 hover:text-white"
          >
            <i class="fas fa-cloud-download mr-1"></i> Report
          </button>
        </div>
        <div
          class="w-full h-32 bg-purple-900 rounded-2xl flex flex-col p-4 mt-4 shadow-md justify-center text-left"
        >
          <div class="grid grid-cols-2">
            <div class="flex flex-col">
              <h1 class="font-bold text-white text-sm mb-2">Total Income:</h1>
              <div class="flex flex-row gap-2 items-center">
                <div
                  class="flex items-center justify-center bg-white p-1 w-[30px] rounded-lg"
                >
                  <i class="fas fa-arrow-down text-sm font-bold"></i>
                </div>
                <h1 class="font-bold text-white text-[22px]">
                  IDR 100.000.000,00
                </h1>
              </div>
            </div>
            <div class="flex flex-col">
              <h1 class="font-bold text-white text-sm mb-2">Total Outcome:</h1>
              <div class="flex flex-row gap-2 items-center">
                <div
                  class="flex items-center justify-center bg-white p-1 w-[30px] rounded-lg"
                >
                  <i class="fas fa-arrow-up text-sm font-bold"></i>
                </div>
                <h1 class="font-bold text-white text-[22px]">
                  IDR 100.000.000,00
                </h1>
              </div>
            </div>
          </div>
        </div>

        <!-- List Expense -->
        <h1 class="mt-4 text-[24px] font-bold">Expense</h1>

        <div class="flex flex-col">
          <div class="flex flex-row justify-between mt-4">
            <div class="flex flex-row gap-4">
              <div
                class="rounded-lg w-[40px] flex items-center justify-center border shadow-sm bg-slate-100 text-purple-700"
              >
                <i class="fas fa-arrow-up text-md font-bold"></i>
              </div>
              <div class="flex flex-col">
                <h1 class="text-sm font-semibold">Ayam geprek</h1>
                <h1 class="text-sm font-semibold text-slate-400">Makanan</h1>
              </div>
            </div>
            <div class="flex flex-row gap-4">
              <div class="flex flex-col">
                <h1 class="text-sm font-semibold text-right">
                  IDR 10.000.000.000
                </h1>
                <h1 class="text-sm font-semibold text-slate-400 text-right">
                  12-01-2024
                </h1>
              </div>
              <div
                class="rounded-lg w-[40px] flex items-center justify-center border shadow-sm bg-red-500 text-white hover:cursor-pointer hover:bg-red-900"
              >
                <i class="fas fa-times text-md font-bold"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Content -->
      <div class="w-3/5 bg-slate-50 rounded-lg h-full p-2">
        <div class="w-full bg-white rounded-lg p-4 shadow-md">
          <div class="flex flex-row gap-4 items-center">
            <img
              class="inline-block h-16 w-16 rounded-full ring-2 ring-white"
              src="/assets/avatar.jpeg"
              alt="avatar-img"
            />
            <div>
              <h1 class="font-bold text-[32px]">{{ userFullName }}</h1>
              <h1 class="text-sm text-slate-400 font-semibold">
                <i class="fas fa-envelope"></i>
                {{ userEmail }}
              </h1>
            </div>
          </div>

          <hr class="bg-slate-100 h-1 mt-4 mb-4" />

          <div class="flex flex-row gap-2">
            <button
              *ngIf="!isShowingExpense"
              (click)="toggleExpense()"
              class="shadow-md text-sm p-2 font-semibold rounded-lg hover:text-white hover:bg-purple-700 hover:scale-105 duration-300 transition"
            >
              <i class="fas fa-plus mr-1"></i>
              Expense Category
            </button>
            <button
              *ngIf="isShowingExpense"
              (click)="toggleExpense()"
              class="shadow-md text-sm p-2 font-semibold rounded-lg hover:text-white hover:bg-purple-700 hover:scale-105 duration-300 transition"
            >
              <i class="fas fa-plus mr-1"></i>
              Expense
            </button>
            <button
              (click)="logout()"
              class="shadow-md text-sm p-2 font-semibold rounded-lg hover:text-white hover:bg-red-700 hover:scale-105 duration-300 transition"
            >
              <i class="fas fa-sign-out mr-1"></i>
              Logout
            </button>
          </div>
        </div>

        <app-form-expense *ngIf="!isShowingExpense"></app-form-expense>

        <app-form-expense-type *ngIf="isShowingExpense"></app-form-expense-type>
      </div>
    </div>
  </div>
</section>
