<div class="flex flex-row min-h-screen">
  <div
    class="w-3/5 flex justify-center items-center bg-purple-800 max-sm:hidden"
  >
    <div>
      <h1 class="text-[60px] font-bold text-white">Expense Tracker</h1>
      <h1 class="text-[30px] font-semibold text-white">
        The most popular expense tracker app
      </h1>
      <button
        class="p-2 bg-white w-40 rounded-lg font-semibold mt-8 hover:bg-slate-400 hover:text-white hover:scale-110 transition duration-300"
      >
        Explore Now
      </button>
    </div>
  </div>
  <div class="w-full lg:w-2/5 flex justify-center items-center">
    <router-outlet></router-outlet>
  </div>
</div>
